.App {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 940px) {
  .App {
 display: block;
  overflow-x: auto;
  }
 
}
